* {
  margin: 0;
  padding: 0;
}

.headerColor {
  position: absolute;
  background-color: black !important;
  opacity: 0.4;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #24272B;
}

#headerId {
  opacity: 0.8;
}

#headerNavs {
  color: white;
  transition: all .2s linear;
}

#headerNavs:hover {
  color: #75acff;
}

@media (max-width: 1024px) {
  #headerId {
    display: initial;
  }
}
