* {
  margin: 0;
  padding: 0;
}

.headerColor {
  position: absolute;
  /*background: #355C7D;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  !* Chrome 10-25, Safari 5.1-6 *!*/
  background-color: black !important;
  opacity: 0.4;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #24272B;
}
