.formContainer form,
.formContainer span {
  display: flex;
  flex-direction: column;
}

.formContainer {
    width: 40%;
}

.formContainer form {
    position: relative;
    right: 0;
}

.formContainer span {
    margin-top: 20px;
}

.formDropdown {
  width: 600px;
  margin-top: 20px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: grey;
  /*opacity: 0.3;*/
  border-bottom-width: 1px;
    outline: none;
}

.formEmail {
    width: 600px;
    margin-top: 20px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    outline: none;
}

.formSubmitButton {
    padding: 10px 24px;
    height: auto;
    border: none;
    color: #ffffff !important;
    font-size: 14px !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold !important;
    background-color: #434343 !important;
}

.formSubmitButton:hover {
    cursor: pointer;
    color: #24272B;
    transition: 2s ease-in-out;
}

.formCopyright {
    width: 50%;
    color: #24272B;
    font-size: 12px;
    line-height: 1.4;
    display: inline-block;
    opacity: 0.4;
}

@media (max-width: 700px) {
    .formContainer {
        width: 100%;
    }
}
